<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home_c</display-name>
    <servlet-name>Home_c</servlet-name>
    <servlet-class>com.ccit.myservlet.Home_c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home_c</servlet-name>
    <url-pattern>/home_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card</display-name>
    <servlet-name>Card</servlet-name>
    <servlet-class>com.ccit.myservlet.Card</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card</servlet-name>
    <url-pattern>/card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.ccit.myservlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card_Del</display-name>
    <servlet-name>Card_Del</servlet-name>
    <servlet-class>com.ccit.myservlet.Card_Del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card_Del</servlet-name>
    <url-pattern>/card_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card_Find</display-name>
    <servlet-name>Card_Find</servlet-name>
    <servlet-class>com.ccit.myservlet.Card_Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card_Find</servlet-name>
    <url-pattern>/card_find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card_Alter</display-name>
    <servlet-name>Card_Alter</servlet-name>
    <servlet-class>com.ccit.myservlet.Card_Alter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card_Alter</servlet-name>
    <url-pattern>/card_alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.ccit.myservlet.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Del</display-name>
    <servlet-name>Book_Del</servlet-name>
    <servlet-class>com.ccit.myservlet.Book_Del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Del</servlet-name>
    <url-pattern>/book_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Find</display-name>
    <servlet-name>Book_Find</servlet-name>
    <servlet-class>com.ccit.myservlet.Book_Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Find</servlet-name>
    <url-pattern>/book_find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Alter</display-name>
    <servlet-name>Book_Alter</servlet-name>
    <servlet-class>com.ccit.myservlet.Book_Alter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Alter</servlet-name>
    <url-pattern>/book_alter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Add1</display-name>
    <servlet-name>Book_Add1</servlet-name>
    <servlet-class>com.ccit.myservlet.Book_Add1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Add1</servlet-name>
    <url-pattern>/book_add1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Add2</display-name>
    <servlet-name>Book_Add2</servlet-name>
    <servlet-class>com.ccit.myservlet.Book_Add2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Add2</servlet-name>
    <url-pattern>/book_add2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Find1</display-name>
    <servlet-name>Book_Find1</servlet-name>
    <servlet-class>com.ccit.myservlet.Book_Find1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Find1</servlet-name>
    <url-pattern>/book_find1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card_Add1</display-name>
    <servlet-name>Card_Add1</servlet-name>
    <servlet-class>com.ccit.myservlet.Card_Add1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card_Add1</servlet-name>
    <url-pattern>/card_add1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card_Add2</display-name>
    <servlet-name>Card_Add2</servlet-name>
    <servlet-class>com.ccit.myservlet.Card_Add2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card_Add2</servlet-name>
    <url-pattern>/card_add2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ccit.myservlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Login</display-name>
    <filter-name>Login</filter-name>
    <filter-class>com.ccit.myfilter.Login</filter-class>
    <init-param>
      <param-name>uris</param-name>
      <param-value>/login,/home_c</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.ccit.myl.UserCount</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Exit</display-name>
    <servlet-name>Exit</servlet-name>
    <servlet-class>com.ccit.myservlet.Exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Encoding</display-name>
    <filter-name>Encoding</filter-name>
    <filter-class>com.ccit.myfilter.Encoding</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Bor</display-name>
    <servlet-name>Bor</servlet-name>
    <servlet-class>com.ccit.myservlet.Bor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bor</servlet-name>
    <url-pattern>/bor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ret</display-name>
    <servlet-name>Ret</servlet-name>
    <servlet-class>com.ccit.myservlet.Ret</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ret</servlet-name>
    <url-pattern>/ret</url-pattern>
  </servlet-mapping>
</web-app>